@charset "utf-8";

// style
@import "yarn/style.css";

// Tag
@import "yarn/tags.css";

//gallery
@import "yarn/gallery.css";

//ins
@import "yarn/ins.css";

//aos
@import "yarn/aos.css";

// shiguangji
@import "yarn/shiguangji.css";

// custom
@import "yarn/custom.css";

//font
@import "ui/fonts.css";

//code
@import "ui/prism.css";